layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Vivaldis" cwd="~/Code/drinatix/venice-nv/vivaldis" focus=true {
        pane
        pane
    }
    tab name="Frontend" cwd="~/Code/drinatix/venice-nv/vivaldis-frontend" {
        pane
        pane
    }
    tab name="ssh" cwd="~" {
        pane
    }
    tab name="Elixir" cwd="~/Code/drinatix/venice-nv/vivaldex" {
        pane
    }
    tab name="cpp" cwd="~/Code/cpp" {
        pane
    }
}
